{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{% url 'translator_view' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 mt-3 left">
                <textarea name="my_textarea" rows="3" class="form-control">{{original_text}}</textarea>
            </div>
            <div class="col-sm-6 mt-3 left">
                <textarea rows="3" class="form-control">{{output_text}}</textarea>
                <input class="btn btn-primary ml-3 mt-3" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
{% endblock content %}